<!DOCTYPE html>
<html>
 {% include head.html %}
 <body id="body">
  {% include nav.html %}
  {% include menu.html %}

  <div class="left">
   {% if page.banner %}
    {% if page.bannerURLIsAbsolute == true %}
     <img class="banner" src="{{ page.banner }}"/>
    {% else %}
     <img class="banner" src="{{ page.banner | prepend: site.baseurl }}"/>
    {% endif %}
   {% else %}
    <span class="pageBanner">{{ page.title }}</span>
   {% endif %}
  </div>

  </div class="right">
    <div class="content">
     <h2 class="pageTitle">{{ page.title }}</h2>
     {{ content }}
   </div>
 </div>
 {% include footer.html %}
 {% include javascript.html %}
 </body>
</html>
